a:link{
    color: rgb(238, 131, 8);
}
a:visited{
    color: rgb(33, 34, 36);
}   
a:hover{
    color: rgb(238, 8, 199);
}  
botton:hover{
    background-color: lightgray;
}
botton:active{
    background-color: gray;
} 
li:nth-child(odd){
    background-color: rgb(233, 236, 9);
}
li:nth-child(even){
    background-color: rgb(247, 145, 13);
}
li:nth-child(5){
    background-color: rgb(9, 233, 145);
}