h1{
    text-shadow: 1px 4px 9px rgb(179, 34, 34),
                 0px 0px 15px rgb(226, 241, 10);
                 box-shadow: 0px 4px 6px rgba(10, 151, 233, 0.3);
                 box-sizing: border-box;
                 shape-outside: margin-box;
}