h1{
    text-align: center;
    color: rgb(240, 6, 6);
    border: 4px solid black;
    border-radius: 10px;
}
p{
    text-align: center;
    font-size: 20px;
    color: rgb(224, 121, 121);
    text-shadow: -1px 2px 1px rgb(87, 78, 78);
}
button{
    background-color: rgba(231, 34, 182, 0.575);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
}
input{
    width: 20%;
    height: auto;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
    align-items: center;
    text-align: center;
}
body{
    background-color: rgba(185, 179, 183, 0.596);
}